impl {{ name }} {
    pub fn init() -> Result<{{ name }}, &'static str> {
        use convert_case::{Case, Casing};

        dotenv::dotenv().ok();

        let mut key: String;
        {% for field in fields %}
        {% if field.attr_name.is_empty() %}
        key = "{{ name }} {{ field.name }}".to_case(Case::UpperSnake);
        {% else %}
        key = "{{ field.attr_name }}".to_case(Case::UpperSnake);
        {% endif %}
        {% if contains(["i32","i64","u32","u64","f32","f64","String","bool"], field.typ) %}
        let {{ field.name }}: Option<{{ field.typ }}> = match std::env::var(key) {
            Ok(val) => match val.parse() {
                Ok(v) => Some(v),
                Err(_) => Some("".parse().unwrap()),
            },
            Err(err) => {
                {% if field.attr_default.is_empty() %}
                Some(Default::default())
                {% else %}
                Some("{{ field.attr_default }}".parse().unwrap())
                {% endif %}
            }
        };
        {% else %}
        let {{ field.name }}: Option<{{ field.typ }}> = match {{ field.typ }}::init() {
            Ok(v) => Some(v),
            Err(_) => None,
        };
        {% endif %}
        {% endfor %}

        Ok({{ name }} {
            {% for field in fields %}
            {% if field.optional %}
            {{ field.name }}: {{ field.name }},
            {% else %}
            {{ field.name }}: {{ field.name }}.ok_or("Build failed: missing {{ field.name }}")?,
            {% endif %}
            {% endfor %}
        })
    }
}
